body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  
    
    color: white;
}
main{
    background-image: url(img/hero.jpg);
}

header {
    background:#0082e6;
    color: #333;
    padding: 1rem 0;
    text-align: center;
    height:50px;
    width: cover;
}

header h1 {
    margin: 0;
    
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 0.5rem;
    color: black;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #0082e6;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position:bottom;
    width: 100%;
    bottom: 0;
}
body{
    background-image: url(hero.jpg);
}
#navbar img{
    border-radius: 50px;
    height: 80px;
    width: 80px;
    box-shadow: none;
    margin: 0;
}
