*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.content  img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 20px;
}
.content h2{
    margin-bottom: 10px;

}
.con{
    margin: 100px;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    margin-bottom: 20px;
    font-weight: 300;
    color: #fff;
}
.con{
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.con .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.con .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.con .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
}
.con .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.con .contactinfo .box .text{
    font-weight: 500;
    color: white;

}
.contactform{
    width: 70%;
    padding: 40px;
    background: #fff;
    margin: 50px;
    margin-right: 30px;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{

    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid#333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputbox input[type="Ssubmit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 10px;
}
@media (max-width:991px)
{
    .contact{
        padding: 50px;
    }
    .con{
        flex-direction: column;
    }
    .con .contactinfo{
        margin-bottom: 40px;

    }
    .con .contactinfo,.contactform{
        width: 100%;
    }
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}








